.feed-board__bar
  width: 100%
  margin-bottom: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.feed-board__search-bar
  display: flex
  flex-direction: row
  width: 100%
  align-items: center

.feed-board__search-bar > input
  height: 30px
  margin-left: 10px
  outline: none
  font-size: 22px
  width: 100%

.feed-board__pagination
  display: flex
  gap: 12px
  justify-content: flex-end
  margin-top: 10px
  width: 100%
  align-items: center

.feed-board__pagination > button
  padding: 10px 15px 10px 15px
  border: none
  cursor: pointer
  color: white
  background: #fb8310
  border-radius: 100px

.feed-board__loader
  width: 100%
  display: flex
  justify-content: center
  align-items: center

@media (max-width: 480px)
  .feed-board__bar
    flex-direction: column
  .feed-board__search-bar
    flex-direction: row
  .feed-board__search-bar > input
    height: 26px
    font-size: 18px