.conference-page
  width: 100%
  height: 100%

.conference-page__title
  position: fixed
  top: 80px
  height: 60px
  width: 80%
  left: 10%
  right: 10%
  font-size: 22px

.conference-page__messages
  position: fixed
  top: 140px
  bottom: 100px
  overflow-y: scroll
  width: 80%
  left: 10%
  right: 10%
  display: flex
  flex-direction: column-reverse

.conference-page__connections
  position: fixed
  width: 80%
  bottom: 60px
  right: 10%
  left: 10%
  height: 20px
  color: #1a1a1a
  display: flex
  justify-content: flex-end
  box-sizing: border-box

.conference-page__input
  position: fixed
  bottom: 10px
  right: 10%
  left: 10%

.conference-page__input > input
  width: 100%
  height: 40px
  bottom: 20px
  right: 10%
  font-size: 22px
  box-sizing: border-box
  padding: 5px 10px 5px 10px

.conference-page__input:focus
  border: none