.home-page
  box-sizing: border-box
  padding: 20px
  display: flex
  flex-direction: row

.home-page__feed-menu-wrapper
  width: 70%
  margin-right: calc(30% + 30px)

.home-page__personal-menu-wrapper
  position: fixed
  width: 30%
  right: 20px
  z-index: 1